.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #fffb17;
    background-color: #2196F3; 
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}


.btn:hover {
    background-color: #ffea2b;
    color: #2196F3;
}

